.button {
	position: relative;
	z-index: 1;

	width: 246px;
	height: 74px;

	background-image: url("@img/icons/button.svg");
	background-position: center;
	background-size: contain;
	background-repeat: no-repeat;

	span {
		font-weight: 900;
		font-size: 36px;
		line-height: math.div(54, 36);
		text-transform: uppercase;

		color: #ffffff;

		text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
	}

	&._purple {
		background-image: url("@img/icons/button-p.svg");
	}

	@media (min-width: 700px) and (min-height: 700px) {
		width: calc(206px * 2);
		height: calc(58px * 2);
		border-radius: 50px;
		span {
			font-size: 36px;
		}
	}

	&._hold {
		opacity: 0.5;
		pointer-events: none;
	}
}

[type="button"] {
	transition: all 0.3s ease 0s;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);

	&:active {
		transform: translateY(2px);
	}
}
//========================================================================================================================================================
.preloader {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 10;

	display: flex;
	width: 100%;
	min-height: 100vh;

	background-image: url("@img/other/bg.png");
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;

	overflow: hidden;
	transition: all 0.3s ease 0.3s;
	&__block-acces {
		position: relative;
	}

	&__acces {
	}

	&__button-box {
		position: absolute;
		z-index: 2;
		bottom: 45px;
		left: 50%;
		transform: translateX(-50%);
	}

	// .preloader__button

	&__button {
	}

	&._hide {
		opacity: 0;
		visibility: hidden;

		transform: translateY(10px);
	}
	&::before {
		content: "";
		position: absolute;
		top: 40%;
		left: 50%;
		transform: translate(-50%, -50%);

		width: 456px;
		height: 456px;
		border-radius: 50%;

		background: radial-gradient(47.34% 47.34% at 50% 50%, #ffc700 0%, rgba(255, 214, 0, 0) 100%);
	}
}

.acces-preloader {
	display: flex;
	flex-direction: column;
	max-height: 100vh;
	padding-block: 50px 120px;
	padding-inline: 22px;

	overflow: auto;

	&._hide {
		display: none;
	}

	&__title {
		font-weight: 900;
		font-size: 36px;
		line-height: math.div(54, 36);

		color: #ffffff;

		text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
		padding-bottom: 25px;
	}

	// .acces-preloader__text

	&__text {
		padding-bottom: 12px;
	}
}

.text-pre {
	font-weight: 700;
	font-size: 15px;
	line-height: math.div(22, 15);

	color: #ffffff;

	@media (min-width: 700px) and (min-height: 700px) {
		font-size: 22px;
	}

	&__title {
		text-transform: uppercase;
	}
}

.score {
	&._no-money {
		animation: no-money 0.7s ease 2;
	}
	&._delete-money {
		animation: delete-money 0.7s ease;
	}
	&._anim-add-money {
		animation: add-money 0.5s ease 3;
	}
}
.icon-anim {
	img {
		&._anim-icon-jump {
			animation: jump_icon 5s ease;
		}
		&._anim-icon-scale {
			animation: scale_icon 0.5s ease 2;
		}
		&._anim-icon-rotate {
			animation: rotate_icon 1.5s ease-out 1;
		}
	}
}

//========================================================================================================================================================
